<html>
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>BlackJack</title>
</head>
<body style="background-color:Green;">
@RenderBody()
<div class="vCenter">
    <table>
        <tr style="height:650px;">
            <td style="background-image: url('http://localhost:26622/Images/blackjackTable.jpg'); width:1457px;">
                <table style="vertical-align:top; text-align:center;">
                    <tr style="text-align:center; vertical-align:top;">

                        <td style="width:600px;">
                        </td>

                        @RenderSection("DealerCards", false)

                    </tr>

                    <tr style="height:400px">
                    </tr>

                    <tr style="text-align:center; vertical-align:bottom;">

                        <td style="width:600px;">
                        </td>
                       
                        
                        @RenderSection("PlayerCards", false)
                        @RenderSection("Winners", false)
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("playerFold", "BlackJack")) 
                {
                    <input id="Fold" type="submit" value="Fold" />
                }
                @using (Html.BeginForm("playerHit", "BlackJack")) 
                {
                    <input id="Hit" type="submit" value="Hit" />
                }
                @using (Html.BeginForm("playerStay", "BlackJack"))
                {
                    <input id="Stay" type="submit" value="Stay"  />
                }
                @using (Html.BeginForm("NewBlackJackHand", "BlackJack"))
                {
                    <input id="NewHand" type="submit" value= "New Hand" />
                }
                @using (Html.BeginForm("playerDoubleDown", "BlackJack"))
                {
                    <input id="Doubledown" type="submit" value= "Double Down" />
                }
                @using (Html.BeginForm("playerBet", "BlackJack"))
                {
                    <input name="betAmount"  />
                    <br />
                    <input id="bet" type="submit" value="Bet" />
                }
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        function RestartHand()
        {
            document.getElementById('Hit').style.visibility = 'visible';
            document.getElementById('Doubledown').style.visibility = 'visible';
            document.getElementById('bet').style.visibility = 'visible';
            document.getElementById('Stay').style.visibility = 'visible';
            document.getElementById('Doubledown').style.visibility = 'visible';
        }
        function hideDoubleDown()
        {
            document.getElementById('Doubledown').style.visibility = 'hidden';
        }
        function hideAfterPass()
        {
            document.getElementById('Hit').style.visibility = 'hidden';
            document.getElementById('Doubledown').style.visibility = 'hidden';
            document.getElementById('bet').style.visibility = 'hidden';
            document.getElementById('Stay').style.visibility = 'hidden';
        }
        function hideBet()
        {
            document.getElementById('bet').style.visibility = 'hidden';
        }
    </script>
</div>
</body>
</html>

