<html>
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>BlackJack</title>
</head>
<body style="background-color:Green;">
@RenderBody()
<div class="vCenter">
    <table >
        <tr style="height:650px;">
            <td style="background-image: url('http://localhost:26622/Images/blackjackTable.jpg'); width:1457px;">
                <table style="vertical-align:top; text-align:center;">
                    <tr style="text-align:center; vertical-align:top;">
                        <td style="width:600px;">
                        </td>
                        <td style="background-image: url('../../Images/FaceDownCard.jpg'); height:100px; width:70px">
                            
                        </td>
                        <td style="background-image: url('../../Images/FaceUpCard.jpg'); height:100px; width:70px">
                            
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr style="height:400px">
                    </tr>
                    <tr style="text-align:center; vertical-align:bottom;">
                        <td style="width:600px;">
                        </td>
                        <td style="background-image: url('../../Images/FaceUpCard.jpg'); height:100px; width:70px">
                            
                        </td>
                        <td style="background-image: url('../../Images/FaceUpCard.jpg'); height:100px; width:70px">
                            
                        </td>
                        <td id="playhit1" style="background-image: url('../../Images/FaceUpCard.jpg'); height:100px; width:70px; visibility:hidden">
                        
                        </td>
                        <td id="playhit2" style="background-image: url('../../Images/FaceUpCard.jpg'); height:100px; width:70px; visibility:hidden">
                        
                        </td>
                        <td id="playhit3" style="background-image: url('../../Images/FaceUpCard.jpg'); height:100px; width:70px; visibility:hidden">
                        
                        </td>
                        <td id="playhit4" style="background-image: url('../../Images/FaceUpCard.jpg'); height:100px; width:70px; visibility:hidden">
                        
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("Fold", "playerFold"))
                {
                    <input id="Fold" type="button" value="Fold" />
                    <input id="Hit" type="button" value="Hit" />
                    <input id="Stay" type="button" value="Stay" />
                }
                @using (Html.BeginForm("playerBet", "BlackJack"))
                {
                    <input name="betAmount"  />
                    <br />
                    <input id="bet" type="submit" value="Bet" />
    
                }
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        function showImage() {
            if (document.getElementById == ) {
                document.getElementById('playhit1').style.visibility = 'visible';
            }
        }  
    </script>
</div>
</body>
</html>

