<html>
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>BlackJack</title>
</head>
<body style="background-color:Green;">
@RenderBody()
<div class="vCenter">
    <table>
        <tr style="height:650px;">
            <td style="background-image: url('http://localhost:26622/Images/blackjackTable.jpg'); width:1457px;">
                <table style="vertical-align:top; text-align:center;">
                    <tr style="text-align:center; vertical-align:top;">

                        <td style="width:600px;">
                        </td>

                        @RenderSection("DealerCards", false)

                    </tr>

                    <tr style="height:400px">
                    </tr>

                    <tr style="text-align:center; vertical-align:bottom;">

                        <td style="width:600px;">
                        </td>

                        
                        @RenderSection("PlayerCards", false)

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("playerFold", "BlackJack")) {
                    <input id="Fold" type="submit" value="Fold" />
                }
                @using (Html.BeginForm("playerHit", "BlackJack")) {
                    <input id="Hit" type="submit" value="Hit" />
                }
                @using (Html.BeginForm("playerStay", "BlackJack"))
                {
                    <input id="Stay" type="submit" value="Stay" />
                }
                @using (Html.BeginForm("NewBlackJackHand", "BlackJack"))
                {
                    <input id="NewHand" type="submit" value= "New Hand" />
                }
                 @using (Html.BeginForm("playerDoubleDown", "BlackJack"))
                 {
                    <input id="Doubledown" type="submit" value= "Double Down" />
                }
                @using (Html.BeginForm("playerBet", "BlackJack"))
                {
                    <input name="betAmount"  />
                    <br />
                    <input id="bet" type="submit" value="Bet" />
                }
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        function showPlayersImage()
        {
            if (document.getElementById('playhit1').style.visibility != 'visible')
            {
                document.getElementById('playhit1').style.visibility = 'visible';
                document.getElementById('Doubledown').style.visibility = 'hidden';
            }
            else if (document.getElementById('playhit2').style.visibility != 'visible')
            {
                document.getElementById('playhit2').style.visibility = 'visible';
            }
            else if (document.getElementById('playhit3').style.visibility != 'visible')
            {
                document.getElementById('playhit3').style.visibility = 'visible';
            }
            else if (document.getElementById('playhit4').style.visibility != 'visible')
            {
                document.getElementById('playhit4').style.visibility = 'visible';
            }
        }
        function ResetPlayerImage()
        {
            document.getElementById('playhit1').style.visibility = 'hidden';
            document.getElementById('playhit2').style.visibility = 'hidden';
            document.getElementById('playhit3').style.visibility = 'hidden';
            document.getElementById('playhit4').style.visibility = 'hidden';
            document.getElementById('dealerhit1').style.visibility = 'hidden';
            document.getElementById('dealerhit2').style.visibility = 'hidden';
            document.getElementById('dealerhit3').style.visibility = 'hidden';
            document.getElementById('dealerhit4').style.visibility = 'hidden';
            document.getElementById('Doubledown').style.visibility = 'visible';
            document.getElementById('dealersSecondCard').style.backgroundImage = 'url(../../Images/FaceDownCard.jpg)';
        }
        function showDealersImage()
        {
            if (document.getElementById == 'dealerhit1' && document.getElementById('dealerhit1').style.visibility != 'visible')
            {
                document.getElementById('dealerhit1').style.visibility = 'visible';
            }
            else if (document.getElementById == 'dealerhit2' && document.getElementById('dealerhit2').style.visibility != 'visible')
            {
                document.getElementById('dealerhit2').style.visibility = 'visible';
            }
            else if (document.getElementById == 'dealerhit3' && document.getElementById('dealerhit3').style.visibility != 'visible')
            {
                document.getElementById('dealerhit3').style.visibility = 'visible';
            }
            else if (document.getElementById == 'dealerhit4' && document.getElementById('dealerhit4').style.visibility != 'visible')
            {
                document.getElementById('dealerhit4').style.visibility = 'visible';
            }
        }
        function showDealersSC()
        {
            document.getElementById('dealersSecondCard').style.backgroundImage = 'url(../../Images/FaceUpCard.jpg)';
        }
        function hideDoubleDown()
        {
            document.getElementById('Doubledown').style.visibility = 'hidden';
        }
    </script>
</div>
</body>
</html>

