<html>
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>BlackJack</title>
</head>
<body style="background-color:Green;">
@RenderBody()
<div class="vCenter">
    <br /><br />
    <table >
        <tr style="height:650px;">
            <td style="background-image: url('http://localhost:26622/Images/blackjackTable.jpg'); width:1457px;">
                &nbsp;
            </td>
            <td style="width:auto;">
                &nbsp;
            </td>
        </tr>
    </table>
    @*<img style="position:absolute; z-index:10; width:1098px; height:487px;" alt="" src="../../Images/blackjackTable.jpg" />
    <div id="computerHand">
        <img style="position:absolute; TOP:200px; z-index:100;" alt="" src="../../Images/FaceDownCard.jpg" />
        <img style="position:absolute; z-index:100;" alt="" src="../../Images/FaceUpCard.jpg" />
    </div>
    <div id="playerHand">
        <img style="position:absolute; z-index:100;" alt="" src="../../Images/FaceUpCard.jpg" />
        <img style="position:absolute; z-index:100;" alt="" src="../../Images/FaceUpCard.jpg" />
    </div>*@
    
</div>
</body>
</html>