@{
    Layout = null;
}

<html>
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>BlackJack</title>
</head>
<body style="background-color:Green;">
<div class="vCenter">
    <br /><br />
    <img style="position:absolute; z-index:10; width:1098px; height:487px;" alt="" src="../../Images/blackjackTable.jpg" />
    <img style="position:absolute; z-index:100;" alt="" src="../../Images/FaceDownCard.jpg" />
    <img style="position:absolute; z-index:100;" alt="" src="../../Images/FaceUpCard.jpg" />
</div>
</body>
</html>