@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameSelect</title>
</head>
<body style="color:Green;">
    <div id="Heading">
        <h2>Hello! Welcome to our online card game site.</h2>
        <p>Please select which game you would like to play by cliking on the picture.</p>
    </div>
    <div id="BlackJack">
        <a href=""><img alt="BlackJack" src="" />
        <p>BlackJack</p></a>
    </div>
    <div id="Poker 5 Card Draw">
        <a href=""><img alt="5 Card Poker" src="" />
        <p>5 Card Draw</p></a>
    </div>
</body>
</html>
