@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>GameSelect</title>
</head>
<body style="background-color:Green;">
    <div id="Heading" style="text-align:center;">
        <h1>Hello! Welcome to our online card game site.</h1>
        <p>Please select which game you would like to play by cliking on the picture.</p>
    </div>
    <table align="center" style="width:75%; text-align:center;">
        <tr>
            <td>
            @using (Html.BeginForm("BlackJack", "SelectGame"))
            {
                <input type="image" src="../../Images/BlackJack.jpg" alt="Submit" />
                <h2>BlackJack</h2>
            }
            </td>
            <td>
                <input type="image" src="../../Images/5CardPoker.jpg" alt="Submit" />
                <h2>5 Card Poker</h2>
            </td>
            <td>
                <input type="image" src="../../Images/TexasHoldem.jpg" alt="Submit" />
                <h2>Texas Holdem</h2>
            </td>
        </tr>
    </table>
</body>
</html>
