@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>GameSelect</title>
</head>
<body style="background-color:Green;">
    <div id="Heading" style="text-align:center;">
        <h1>Hello! Welcome to our online card game site.</h1>
        <p>Please select which game you would like to play by cliking on the picture.</p>
    </div>
    <table align="center" style="width:75%; text-align:center;">
        <tr>
            <td>
                <a href=""><img alt="BlackJack" src="../../Images/BlackJack.jpg"/></a>
                <h2>BlackJack</h2>
            </td>
            <td>
                <a href=""><img alt="5 Card Poker" src="../../Images/5CardPoker.jpg" /></a>
                <h2>5 Card Poker</h2>
            </td>
            <td>
                <a href=""><img alt="Texas Holdem" src="../../Images/TexasHoldem.jpg" /></a>
                <h2>Texas Holdem</h2>
            </td>
        </tr>
    </table>
</body>
</html>
