@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameSelect</title>
</head>
<body style="color:Green;">
    <div id="Heading" style="text-align:center;">
        <h2>Hello! Welcome to our online card game site.</h2>
        <p>Please select which game you would like to play by cliking on the picture.</p>
    </div>
    <div id="BlackJack" style="float:left">
        <a href=""><img alt="BlackJack" src="" /></a>
        <p>BlackJack</p>
    </div>
    <div id="Poker_5_Card_Draw" style="float:inherit;">
        <a href=""><img alt="5 Card Poker" src="" /></a>
        <p>5 Card Draw</p>
    </div>
    <div id="Texas_Holdem" style="float:right;">
        <a href=""><img alt="Texas Holdem" src="" /></a>
        <p>Texas Holdem</p>
    </div>
</body>
</html>
