@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="color:Green;">
    <div style="vertical-align:middle; text-align:center">
        <p>Username: <input id="userName"  /></p>
        <p>Password: <input id="password"  /></p>
        <input id="logon" type="submit" value="submit" />
    </div>
</body>
</html>
