@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="background-color:Green;">
    <div class="vCenter" id="vCenter">
    @using (Html.BeginForm("login", "Login"))
    {
        <p>Username: <input id="userName"  /></p>
        <p>Password: <input id="Password" type="password" /></p>
        <input id="logon" type="submit" value="submit" />
        if(Model != null)
        {
            @Html.Raw(Model)
        }
    }
    </div>
</body>
</html>
